* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 150px;
    margin: -80px 0 20px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form img {
    width: 25px;
}

h1 {
    color: #44009c;
}

button {
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
    background: #44009c;
    color: #fff;

    border-radius: 3px;

    padding: 5px;
    font-size: 15pt;

    width: 100%;
    margin: 15px auto; 
}
button:hover {
    background: #5b00d1;
}

.input-container {
    font-size: 14pt;
    position: relative;
    display: flex;
    align-items: center;

    margin: 20px 0;

}

.input-container .label {
    color: #44009c;
    position: absolute;
    left: 5px;  
    transition: 0.4s;  
}
.input-container .label.on {
    font-size: 12pt;
    margin-top: -55px;
}

.input-container input {
    padding: 5px;
    font-size: 14pt;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #44009c;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90vw;
    max-width: 600px;
    margin: auto;
    margin-top: 25vh;
    padding: 10px;
    border-radius: 10px;

    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

